venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sbin/
var/
*.egg-info/
.installed.cfg
*.egg
*.so
*.dll
*.dylib
ENV/
env/
venv/
ENV.bak/
venv.bak/
.idea/
.vscode/
.DS_Store
*.egg-info/
*.iml
*.code-workspace
